<!DOCTYPE html>
<html>

<head>
<!-- page_title -->
<th:block th:replace="~{fragments/page_title :: page_title}" />
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
.emphasized-info {
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

.emphasized-info label {
	font-weight: bold;
	font-size: 1.1em;
}

.emphasized-info .form-control {
	font-size: 1.1em;
	color: #343a40;
}

.bold-label {
	font-weight: bold;
}
</style>
</head>
<!-- 헤더링크 -->
<th:block th:replace="~{fragments/header_link :: header_link}" />

<body>
	<!-- Header Section Begin -->
	<th:block th:replace="~{fragments/header :: header}" />
	<!-- Header End -->
	<div class="container">
		<form id="form1" class="form-horizontal">
			<h2>동물 상세 정보</h2>

			<!-- 관심 등록 버튼 -->
			<div class="form-group row">
				<div class="col-sm-12 text-end">
					<th:block th:if="${session.member != null}"
						th:with="member_idx=${session.member.member_idx}">
						<button type="button" class="btn btn-link" name="interest-button"
							th:attr="data-animal-idx=${detail.animal_idx}, data-member-idx=${session.member.member_idx}, data-kind-cd=${detail.kindCd}, data-popfile=${detail.popfile}"
							id="interest-button">
							<i class="far fa-heart fa-2x"></i>
						</button>
					</th:block>
				</div>
			</div>

			<!-- 동물 상세 정보 -->
			<div class="form-group row">
				<div class="col-6">
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">이미지</label>
						<div class="col-sm-12">
							<div class="d-flex justify-content-center"
								style="width: 100%; height: 480px; overflow: hidden;">
								<img th:src="@{${detail.popfile}}" class="img-fluid" alt="동물 사진"
									id="image_url"
									style="width: 100%; height: 100%; object-fit: contain;"
									onerror="this.onerror=null;this.src='https://w7.pngwing.com/pngs/273/157/png-transparent-computer-icons-pet-friendly-hotels-paw-animal-icons-pet-paw-monochrome.png';">
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">유기번호</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.desertionNo}" id="desertionNo" name=""
								readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">접수일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.happenDt}" id="" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">발견장소</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.happenPlace}" id="" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">품종</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.kindCd}" id="kind" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">색상</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.colorCd}" id="" name="" readonly>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="emphasized-info">
						<div class="form-group row">
							<label for="careNm" class="col-sm-12 col-form-label">보호소
								이름</label>
							<div class="col-sm-12">
								<a th:if="${shelter_idx != null}"
									th:href="@{'/shelter/detail?id=' + ${shelter_idx}}"
									class="form-control" readonly> <span
									th:text="${detail.careNm}"></span>
								</a> <a th:unless="${shelter_idx != null}"
									th:href="@{'https://search.naver.com/search.naver?query=' + ${detail.careNm}}"
									target="_blank" class="form-control" readonly> <span
									th:text="${detail.careNm}"></span>
								</a>

							</div>
						</div>
						<div class="form-group row">
							<label for="processState" class="col-sm-12 col-form-label">상태</label>
							<div class="col-sm-12">
								<input type="text" class="form-control"
									th:value="${detail.processState}" id="processState" name=""
									readonly>
							</div>
						</div>
						<div class="form-group row">
							<label for="applicants" class="col-sm-12 col-form-label">신청
								인원</label>
							<div class="col-sm-12">
								<input type="text" class="form-control" id="applicants"
									th:value="${applicantsCount}" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label for="age" class="col-sm-12 col-form-label">나이</label>
							<div class="col-sm-12">
								<input type="text" class="form-control" th:value="${detail.age}"
									id="age" name="" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label for="date_time" class="col-sm-12 col-form-label">성별</label>
							<div class="col-sm-12">
								<input type="text" class="form-control"
									th:value="${detail.sexCd}" id="" name="" readonly>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">중성화
							여부</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.neuterYn}" id="" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">특징</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.specialMark}" id="" name="" readonly>
						</div>
					</div>

					<div class="form-group row">
						<label for="careTel" class="col-sm-12 col-form-label bold-label">보호소
							전화번호</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.careTel}" id="" name="" readonly>
						</div>
					</div>

					<div class="form-group row">
						<label for="weight" class="col-sm-12 col-form-label bold-label">체중</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.weight}" id="weight" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="noticeSdt" class="col-sm-12 col-form-label bold-label">공고
							시작일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.noticeSdt}" id="noticeSdt" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="noticeEdt" class="col-sm-12 col-form-label bold-label">공고
							종료일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.noticeEdt}" id="noticeEdt" name="" readonly>
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" id="interestRecordNum" name="interestRecordNum"
				th:value="${interestRecordNum}" readonly> <input
				type="hidden" id="adoptRecordNum" name="adoptRecordNum"
				th:value="${adoptRecordNum}" readonly>

			<!-- 입양 신청 버튼 -->
			<div class="form-group row">
				<div class="col-sm-12">

					<!-- 입양 신청 버튼을 누르면 kindCd와 popfile도 adopt_animal db에 담기게 수정 -->
					<th:block th:if="${session.member != null}"
						th:with="member_idx=${session.member.member_idx}">
						<button type="button" class="btn btn-primary btn-block"
							name="adopt-button" id="adopt-button"
							th:attr="data-animal-idx=${detail.animal_idx}, data-member-idx=${session.member.member_idx}, data-kind-cd=${detail.kindCd}, data-popfile=${detail.popfile}">입양
							신청</button>
					</th:block>

				</div>
			</div>

		</form>
	</div>
	<th:block th:replace="~{fragments/footer :: footer}" />
</body>

</html>

<script type="text/javascript">
	$(document).ready(function() {
		var interestRecordNum = $('#interestRecordNum').val();
		var adoptRecordNum = $('#adoptRecordNum').val();
		var animalIdx = getQueryStringParameter('id');

		console.log("interestRecordNum: " + interestRecordNum);
		console.log("adoptRecordNum: " + adoptRecordNum);

		if (interestRecordNum >= 1) {
			updateInterestButton(true);
		} else {
			updateInterestButton(false);
		}
		if (adoptRecordNum >= 1) {
			updateAdoptButton(true);
		} else {
			updateAdoptButton(false);
		}
	});

	// 관심 동물 등록 버튼 클릭 핸들러
	function registerInterestButtonClick() {
		var animalIdx = getQueryStringParameter('id');
		var kindCd = $('#kind').val();
		var popfile = $('#image_url').attr('src');

		var confirmResult = confirm("관심 동물로 등록할까요?");
		registerInterest(animalIdx, kindCd, popfile);
	}

	// 관심 동물 등록 요청 함수
	function registerInterest(animalIdx, kindCd, popfile) {
		$.ajax({
			type : 'POST',
			url : '/animal/registerInterest',
			data : {
				animal_idx : animalIdx,
				kindCd : kindCd,
				popfile : popfile
			},
			success : function(response) {
				alert('관심 동물 등록이 완료되었습니다.');
				location.reload();
			},
			error : function(error) {
				alert('관심 동물 등록에 실패했습니다.');
			}
		});
	}

	// 관심 동물 등록 취소
	function cancelInterest(button) {
		var animalIdx = getQueryStringParameter('id');
		var confirmResult = confirm("관심 등록을 취소하시겠습니까?");
		if (confirmResult) {
			button.disabled = true; // 중복 클릭 방지
			$.ajax({
				type : 'POST',
				url : '/animal/cancelInterest',
				data : {
					animal_idx : animalIdx
				},
				success : function(response) {
					alert('관심 동물 등록을 취소했습니다.');
					location.reload();
				},
				error : function(error) {
					alert('관심 동물 등록 취소에 실패했습니다.');
				}
			});
		}
	}

	// 입양 신청 버튼 클릭 핸들러
	function registerAdoptButtonClick() {
		var animalIdx = getQueryStringParameter('id');
		var kindCd = $('#kind').val();
		var popfile = $('#image_url').attr('src');
		var confirmResult = confirm("입양을 신청하시겠습니까?");
		if (confirmResult) {
			registerAdopt(animalIdx, kindCd, popfile);
		}
	}

	// 입양 신청 요청 함수
	function registerAdopt(animalIdx, kindCd, popfile) {
		$.ajax({
			type : 'POST',
			url : '/animal/registerAdopt',
			data : {
				animal_idx : animalIdx,
				kindCd : kindCd,
				popfile : popfile
			},
			success : function(response) {
				alert('입양 신청이 완료되었습니다.');
				location.reload();
			},
			error : function(error) {
				alert('입양 신청에 실패하였습니다.');
			}
		});
	}

	// 입양 신청 취소
	function cancelAdopt() {
		var animalIdx = getQueryStringParameter('id');

		var confirmResult = confirm("입양 신청을 취소하시겠습니까?");
		if (confirmResult) {
			$.ajax({
				type : 'POST',
				url : '/animal/cancelAdopt',
				data : {
					animal_idx : animalIdx,
				},
				success : function(response) {
					alert('입양 신청이 취소되었습니다.');
					location.reload();
				},
				error : function(error) {
					alert('입양 신청 취소에 실패하였습니다.');
				}
			});
		}
	}

	// 버튼 상태 업데이트
	function updateInterestButton(isInterested) {
		var button = $('#interest-button');
		var icon = button.find('i');
		if (isInterested) {
			icon.removeClass('far').addClass('fas');
			button.attr('title', '관심 등록 취소').off("click").click(cancelInterest);
		} else {
			icon.removeClass('fas').addClass('far');
			button.attr('title', '관심 동물 등록').off("click").click(
					registerInterestButtonClick);
		}
	}

	function updateAdoptButton(isAdopted) {
		var button = $('#adopt-button');
		if (isAdopted) {
			button.text("입양 취소").removeClass("btn-primary").addClass(
					"btn-danger").off("click").click(cancelAdopt);
		} else {
			button.text("입양 신청").removeClass("btn-danger").addClass(
					"btn-primary").off("click").click(registerAdoptButtonClick);
		}
	}

	function getQueryStringParameter(name) {
		const urlParams = new URLSearchParams(window.location.search);
		return urlParams.get(name);
	}
</script>