<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Waggy</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
.emphasized-info {
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

.emphasized-info label {
	font-weight: bold;
	font-size: 1.1em;
}

.emphasized-info .form-control {
	font-size: 1.1em;
	color: #343a40;
}

.bold-label {
	font-weight: bold;
}
</style>
</head>
<!-- 헤더링크 -->
<th:block th:replace="~{fragments/header_link :: header_link}" />

<body>
	<!-- Header Section Begin -->
	<th:block th:replace="~{fragments/header :: header}" />
	<!-- Header End -->
	<div class="container">
		<form id="form1" class="form-horizontal">
			<h2>동물 상세 정보</h2>

			<!-- 관심 등록 버튼 -->
			<div class="form-group row">
				<div class="col-sm-12">
					<!-- 수정된 부분: 사용자의 member_idx를 가져와서 함께 전달 -->
					<th:block th:if="${session.member != null}"
						th:with="member_idx=${session.member.member_idx}">
						<button type="button" class="btn btn-secondary btn-block"
							th:onclick="'registerInterest(' + ${detail.animal_idx} + ', ' + ${member_idx} + ')'">관심
							등록</button>
					</th:block>
				</div>
			</div>

			<!-- 동물 상세 정보 -->
			<div class="form-group row">
				<div class="col-6">
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">이미지</label>
						<div class="col-sm-12">
							<div class="d-flex justify-content-center"
								style="width: 100%; height: 480px; overflow: hidden;">
								<img th:src="@{${detail.popfile}}" class="img-fluid" alt="동물 사진"
									style="width: 100%; height: 100%; object-fit: contain;"
									onerror="this.onerror=null;this.src='https://w7.pngwing.com/pngs/273/157/png-transparent-computer-icons-pet-friendly-hotels-paw-animal-icons-pet-paw-monochrome.png';">
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">유기번호</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.desertionNo}" id="desertionNo" name=""
								readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">접수일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.happenDt}" id="" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">발견장소</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.happenPlace}" id="" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">품종</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.kindCd}" id="" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">색상</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.colorCd}" id="" name="" readonly>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="emphasized-info">
						<div class="form-group row">
							<label for="careNm" class="col-sm-12 col-form-label">보호소
								이름</label>
							<div class="col-sm-12">
								<a th:href="@{'/shelter/detail?careNm=' + ${detail.careNm}}"
									class="form-control" readonly> <span
									th:text="${detail.careNm}"></span>
								</a>
							</div>
						</div>
						<div class="form-group row">
							<label for="processState" class="col-sm-12 col-form-label">상태</label>
							<div class="col-sm-12">
								<input type="text" class="form-control"
									th:value="${detail.processState}" id="processState" name=""
									readonly>
							</div>
						</div>
						<div class="form-group row">
							<label for="applicants" class="col-sm-12 col-form-label">신청
								인원</label>
							<div class="col-sm-12">
								<input type="text" class="form-control" id="applicants"
									th:value="${applicantsCount}" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label for="age" class="col-sm-12 col-form-label">나이</label>
							<div class="col-sm-12">
								<input type="text" class="form-control" th:value="${detail.age}"
									id="age" name="" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label for="date_time" class="col-sm-12 col-form-label">성별</label>
							<div class="col-sm-12">
								<input type="text" class="form-control"
									th:value="${detail.sexCd}" id="" name="" readonly>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">중성화
							여부</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.neuterYn}" id="" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label bold-label">특징</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.specialMark}" id="" name="" readonly>
						</div>
					</div>

					<div class="form-group row">
						<label for="careTel" class="col-sm-12 col-form-label bold-label">보호소
							전화번호</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.careTel}" id="" name="" readonly>
						</div>
					</div>

					<div class="form-group row">
						<label for="weight" class="col-sm-12 col-form-label bold-label">체중</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.weight}" id="weight" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="noticeSdt" class="col-sm-12 col-form-label bold-label">공고
							시작일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.noticeSdt}" id="noticeSdt" name="" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="noticeEdt" class="col-sm-12 col-form-label bold-label">공고
							종료일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.noticeEdt}" id="noticeEdt" name="" readonly>
						</div>
					</div>
				</div>
			</div>
			<!-- 입양 신청 버튼 -->
			<div class="form-group row">
				<div class="col-sm-12">
					<!-- 수정된 부분: 사용자의 member_idx를 가져와서 함께 전달 -->
					<th:block th:if="${session.member != null}"
						th:with="member_idx=${session.member.member_idx}">
						<button type="button" class="btn btn-secondary btn-block"
							th:onclick="'registerAdoptConfirmation(' + ${detail.animal_idx} + ', ' + ${member_idx} + ')'">입양
							신청</button>
					</th:block>
				</div>
			</div>

		</form>
	</div>
	<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>

<script type="text/javascript">
	function registerInterest(animal_idx, member_idx) {
		$.ajax({
			type : 'POST',
			url : '/animal/registerInterest',
			data : {
				animal_idx : animal_idx,
				member_idx : member_idx
			},
			success : function(response) {
				alert('관심 등록이 완료되었습니다.');
			},
			error : function(error) {
				alert('관심 등록에 실패하였습니다.');
			}
		});
	}
	function registerAdoptConfirmation(animal_idx, member_idx) {
		// 확인 다이얼로그 표시
		var confirmResult = confirm("입양을 신청하시겠습니까?");
		if (confirmResult) {
			// 사용자가 확인을 눌렀을 때만 입양 신청 진행
			registerAdopt(animal_idx, member_idx);
		} else {
			// 사용자가 취소를 눌렀을 경우 아무 동작도 하지 않음
			return false;
		}
	}

	function registerAdopt(animal_idx, member_idx) {
		$.ajax({
			type : 'POST',
			url : '/animal/registerAdopt',
			data : {
				animal_idx : animal_idx,
				member_idx : member_idx
			},
			success : function(response) {
				alert('입양 신청이 완료되었습니다.');
			},
			error : function(error) {
				alert('입양 신청에 실패하였습니다.');
			}
		});
	}
</script>
