<!DOCTYPE html>
<html lang="en">

<head>
	<!-- page_title -->
	<th:block th:replace="~{fragments/page_title :: page_title}" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
</head>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap"
	rel="stylesheet">

</head>

<!-- header_link -->
<th:block th:replace="~{fragments/header_link :: header_link}" />
<!--/ header_link -->

<body>

	<!-- 헤더 추가 -->
	<th:block th:replace="~{fragments/header :: header}" />


	<section id="register"
		style="background: url('/site/images/background-img.png') no-repeat;">
		<div class="container ">
			<div class="row my-5 py-5">
				<div class="offset-md-3 col-md-6 my-5 ">
					<h2 class="display-3 fw-normal text-center" style="font-size:30px;">
						기존에 사용하시는 계정으로 간편하게 로그인하세요.
					</h2>
					<form>
						<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; ">
							<div class="mb-3" style="display: flex; justify-content: space-between;">
								<a href="javascript:getAuthForm('naver')"> <img alt=""
									src="/login/btnG_official.png" width="270" height="50">
								</a>
							</div>
							<div class="mb-3" >
								<a href="javascript:getAuthForm('kakao')"> <img alt=""
									src="/login/kakao_login_large_wide.png" width="270" height="50">
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Footer Section Begin -->
    <th:block th:replace="~{fragments/footer :: footer}" />
    <!-- Footer End -->

	<script src="/site/js/jquery-1.11.0.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/Fswiper@9/swiper-bundle.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<script src="/site/js/plugins.js"></script>
	<script src="/site/js/script.js"></script>
	<script
		src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>
<script type="text/javascript">
	function getAuthForm(sns) {
		$.ajax({
			url : "/rest/member/authform/" + sns,
			type : "GET",
			success : function(result, status, xhr) {

				location.href = result;
			}
		});
	}
</script>