<th:block th:fragment="mypage_vol">
    <div class="container">
        <div class="row my-auto">
            <div class="col-12">
                <h2 class="text-center">봉사활동 신청 현황</h2>
                <div class="mb-5 heading-border"></div>
                <div class="row my-auto">
                    <div class="col-12">
                        <table class="table table-bordered" style="box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-center col-3">신청명</th>
                                    <th scope="col" class="text-center col-3">일시</th>
                                    <th scope="col" class="text-center col-3">상세보기</th>
                                    <th scope="col" class="text-center col-3">신청 취소</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="volunteerApplication : ${volunteerApplications}" >
                                    <td class="text-center col-3"><i class="fa fa-globe mr-3 text-info" style="margin: 10px;"></i>
                                        <input type="text" th:value="${volunteerApplication.title}" style="border: none; background: none; text-align: center;" readonly>
                                    </td>
                                    <td class="text-center col-3">
                                    	<input type="text" th:value="${volunteerApplication.vol_date}" style="border: none; background: none; text-align: center;" readonly>
                                  	</td>
                                    <td class="text-center col-3">
                                    	<a href="#" class="volunteer-detail-link">
                                            <button type="button" class="btn btn-info">바로가기</button>
                                            <input type="hidden" name="notice_id" th:value="${volunteerApplication.notice_id}">
                                        </a>
                                    </td>
                                    <td class="text-center col-3">
                                        <form th:action="@{/volunteer/cancel}" method="post" class="cancel-application-form">
                                            <input type="hidden" name="applicationId" th:value="${volunteerApplication.id}">
                                            <input type="hidden" name="notice_id" th:value="${volunteerApplication.notice_id}">
                                            <button type="submit" class="btn btn-danger">신청 취소</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>



<!-- 특정 url로 이동
<a th:href="@{https://developer-rooney.tistory.com}">글 상세보기</a>


현재 서버 내에서 이동
<a th:href="@{/board/list}">게시글 리스트</a>


파라미터를 넘길 시
<a th:href="@{/board/view(id = ${board.id})}">글 상세보기</a>


파라미터를 여러 개 넘길 시
<a th:href="@{/board/view(id = ${board.id}, writer = ${board.writer}})}">글 상세보기</a>


PathVariable 사용 시
<a th:href="@{/board/view/{id}(id = ${board.id})}">글 상세보기</a> -->