<th:block th:fragment="mypage_shelter">
	<div class="container">
        <div class="row my-auto">
            <div class="col-12">
                <h2 class="text-center">관심 보호소 목록</h2>
                <div class="mb-5 heading-border"></div>
                <div class="row my-auto">
                    <div class="col-12">
                        <table class="table table-bordered" style="box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-center col-3">관할구역</th>
                                    <th scope="col" class="text-center col-3">보호소 이름</th>
                                    <th scope="col" class="text-center col-3">상세 정보</th>
                                    <th scope="col" class="text-center col-3">신청 취소</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="interestShelter : ${interestShelters}">
                                    <td class="text-center col-3" th:text="${interestShelter.orgNm}" style="vertical-align: middle;"></td>
                                    <td class="text-center col-3" th:text="${interestShelter.careNm}" style="vertical-align: middle;"></td>
                                    <td class="text-center col-3" style="vertical-align: middle;">
                                        <a th:href="@{/shelter/detail(id=${interestShelter.shelter_idx})}" class="btn btn-info">바로가기</a>
                                    </td>
                                    <td class="text-center col-3" style="vertical-align: middle;">
                                        <button type="button" class="btn btn-danger" th:data-shelter-idx="${interestShelter.shelter_idx}" th:data-member-idx="${session.member.member_idx}" onclick="cancelInterestShelter(this)">관심 보호소 취소</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>