<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.animalapp.model.animal.AdoptAnimalDAO">

	<!-- 동물 입양 신청 -->
	<insert id="addAdoptAnimal" parameterType="AdoptAnimal">
		INSERT INTO adopt_animal (member_idx, animal_idx, kindCd, popfile)
		VALUES (#{member_idx}, #{animal_idx}, #{kindCd}, #{popfile})
	</insert>

	<!-- 입양신청한 동물 삭제 -->
	<delete id="deleteAdoptAnimal" parameterType="int">
		DELETE FROM adopt_animal WHERE adopt_animal_idx = #{adopt_animal_idx}
	</delete>

	<!-- 입양신청 동물 중복 체크 -->
	<select id="checkDuplicateAdoptAnimal"
		parameterType="com.sds.animalapp.domain.AdoptAnimal" resultType="int">
		SELECT COUNT(*) FROM adopt_animal WHERE member_idx = #{member_idx} AND
		animal_idx = #{animal_idx}
	</select>

	<select id="findAdoptById" parameterType="int"
		resultType="AdoptAnimal">
		SELECT * FROM adopt_animal WHERE adopt_animal_idx = #{adopt_animal_idx}
	</select>

	<select id="findByMemberIdx" parameterType="int"
		resultType="AdoptAnimal">
		SELECT * FROM adopt_animal WHERE member_idx = #{member_idx}
	</select>

	<select id="findAll" resultType="AdoptAnimal">
		SELECT * FROM adopt_animal
	</select>

	<select id="findAdoptByAnimalIdxAndMemberIdx"
		parameterType="map" resultType="AdoptAnimal">
		SELECT * FROM adopt_animal WHERE animal_idx = #{animal_idx} AND member_idx =
		#{member_idx}
	</select>

	<select id="selectCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM adopt_animal
		WHERE member_idx = #{member_idx} AND animal_idx = #{animal_idx}
	</select>
</mapper>
