<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.animalapp.model.shelter.InterestShelterDAO">

	<insert id="insertInterestShelter" parameterType="com.sds.animalapp.domain.InterestShelter">
	INSERT into interest_shelter (member_idx, shelter_idx, orgNm, careNm) 
	VALUES (#{member_idx},#{shelter_idx}, #{orgNm}, #{careNm})
	</insert>
	
	<delete id="deleteInterestShelter" parameterType="int">
	delete from interest_shelter where interest_shelter_idx = #{interest_shelter_idx}
	</delete>

	<select id="duplicatedInterestShelter" resultType="com.sds.animalapp.domain.InterestShelter">
		select * from interest_shelter where shelter_idx = #{shelter_idx} and member_idx=#{member_idx}
	</select>

    <select id="findInterestById" parameterType="int" resultType="InterestShelter">
        SELECT * FROM interest_shelter WHERE interest_shelter_idx = #{interest_shelter_idx}
    </select>
    
    <select id="findByMemberIdx" parameterType="int" resultType="InterestShelter">
        SELECT * FROM interest_shelter WHERE member_idx = #{member_idx}
    </select>
    
    <select id="findAll" resultType="InterestShelter">
        SELECT * FROM interest_shelter
    </select>
    
    <select id="findInterestByShelterIdxAndMemberIdx" parameterType="map" resultType="InterestShelter">
        SELECT * FROM interest_shelter WHERE shelter_idx = #{shelter_idx} AND member_idx = #{member_idx}
    </select>
    
    <select id="selectCount" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM interest_shelter
        WHERE member_idx = #{member_idx} AND shelter_idx = #{shelter_idx}
    </select>
</mapper>