<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.animalapp.model.shelter.ShelterDAO">
	
	<select id="selectAll" parameterType="java.util.Map" resultType="Shelter">
		select * from shelter 
	</select>
	
	<insert id="insert" parameterType="Shelter">
		insert into shelter(orgNm,care_Nm,careAddr,divisionNm,lat,lng,dsignationDate,closeDay,weekOprStime,
									weekOprEtime,careTel,dataStdDt)
		values(#{orgNm},#{care_Nm},#{careAddr},#{divisionNm},#{lat},#{lng},#{dsignationDate},
				   #{closeDay},#{weekOprStime},#{weekOprEtime},#{careTel},#{dataStdDt})
	</insert>
	
	


</mapper>