<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.animalapp.model.shelter.ShelterDAO">

	<select id="selectCount" parameterType="ShelterSelectParam"
		resultType="int">
		SELECT COUNT(*)
		FROM shelter
		WHERE careNm LIKE CONCAT('%', #{keyword},
		'%')
		<if test="currentSidoCode != '00' and currentSignguCode != '00'">
			AND uprCd = #{currentSidoCode}
			AND orgCd = #{currentSignguCode}
		</if>
		<if test="currentSidoCode != '00' and currentSignguCode == '00'">
			AND uprCd = #{currentSidoCode}
		</if>
	</select>


	<select id="selectAll" parameterType="ShelterSelectParam"
		resultType="Shelter">
		SELECT * FROM shelter
		WHERE careNm LIKE CONCAT('%', #{keyword}, '%')
		<if test="currentSidoCode != '00'">
			AND uprCd = #{currentSidoCode}
		</if>
		<if test="currentSignguCode != '00'">
			AND orgCd = #{currentSignguCode}
		</if>
		LIMIT #{startIndex}, #{rowCount}
	</select>



	<select id="getAllRecord" resultType="Shelter">
		select * from shelter
	</select>

	<select id="select" parameterType="int" resultType="Shelter">
		SELECT * FROM
		shelter
		WHERE shelter_idx = #{shelter_idx}
	</select>

	<insert id="insert" parameterType="java.util.List">
		insert into
		shelter(orgNm,careNm,careAddr,divisionNm,lat,lng,dsignationDate,closeDay,weekOprStime,
		weekOprEtime,careTel,dataStdDt)
		values
		<foreach collection="list" item="shelter" separator=",">
			(#{shelter.orgNm},#{shelter.careNm},#{shelter.careAddr},#{shelter.divisionNm},#{shelter.lat},#{shelter.lng},#{shelter.dsignationDate},
			#{shelter.closeDay},#{shelter.weekOprStime},#{shelter.weekOprEtime},#{shelter.careTel},#{shelter.dataStdDt})
		</foreach>
	</insert>
	<!-- Sido Table orgCd Column update method -->
	<update id="updateSidoCode" parameterType="shelterSidoMappingParam">
		UPDATE shelter
		SET
		uprCd = #{orgCd}
		where shelter_idx = #{shelter_idx}
	</update>
	<!-- Shelter Table orgCd Column update method -->
	<update id="updateSignguCode" parameterType="shelterSidoMappingParam">
		UPDATE shelter
		SET
		orgCd = #{orgCd}
		where shelter_idx = #{shelter_idx}
	</update>

	<delete id="delete">
		delete from shelter
	</delete>
	
	<select id="findShelterIdxByCareNm" resultType="java.lang.Integer">
        SELECT shelter_idx FROM shelter WHERE careNm = #{careNm}
    </select>

</mapper>