<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.animalapp.model.shelter.SidoDAO">
	<select id="selectAll" resultType="Sido">
		select * from sido 
	</select>
	
	<select id="select" resultType="Sido">
		select * from sido
		where orgdownNm LIKE CONCAT(#{keyword}, '%')
	</select>
	
	
	<insert id="insertAll" parameterType="java.util.List">
        <!-- 모든 요소를 포함하는 단일 insert 문 -->
        insert into sido(orgCd, orgdownNm)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orgCd}, #{item.orgdownNm})
        </foreach>
    </insert>
    
    <delete id="delete">
    	delete from sido
    </delete>
</mapper>