<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper
	namespace="com.sds.animalapp.model.volunteer.VolunteerDAO">
	<select id="selectCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM volunteer_notice
		WHERE title LIKE CONCAT('%', #{keyword}, '%') OR shelter_name LIKE
		CONCAT('%', #{keyword}, '%')
	</select>

	<select id="selectRegistCount" parameterType="int"
		resultType="int">
		SELECT COUNT(*) FROM volunteer_application
		WHERE notice_id = #{id}
	</select>

	<insert id="insert" parameterType="VolunteerNotice">
		INSERT INTO volunteer_notice (vol_date, recruit_count, shelter_name,
		body_text, title, regdate, member_idx)
		VALUES (#{vol_date}, #{recruit_count}, #{shelter_name}, #{body_text},
		#{title}, CURRENT_TIMESTAMP, #{member_idx})
	</insert>

	<select id="selectAll" parameterType="java.util.Map"
		resultType="VolunteerNotice">
		SELECT * FROM volunteer_notice
		WHERE title LIKE CONCAT('%',
		#{keyword}, '%') OR shelter_name LIKE CONCAT('%', #{keyword}, '%')
		ORDER BY regdate DESC
		LIMIT #{startIndex}, #{rowCount};
	</select>

	<select id="select" parameterType="int"
		resultType="VolunteerNotice">
		SELECT * FROM volunteer_notice
		WHERE vol_event_post_idx = #{id}
	</select>
	<select id="findShelterIdxByCareNm" parameterType="String"
		resultType="java.lang.Integer">
		SELECT shelter_idx
		FROM shelter
		WHERE careNm = #{careNm} limit 1;
	</select>
</mapper>