<th:block th:fragment="header">
    <div class="container">
        <nav class="main-menu d-flex navbar navbar-expand-lg ">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body justify-content-center">
                    <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-5 mb-0 ">
                        <div class="main-logo">
                            <a href="/">
                                <img src="/site/images/anemone-logo.png" alt="logo" class="img-fluid" style="width: 200px; height: auto;">
                            </a>
                        </div>
                        <li class="nav-item"><a href="/shelter/list" class="nav-link">보호소 조회</a></li>
                        <li class="nav-item"><a href="/animal/list" class="nav-link">동물조회</a></li>
                        <li class="nav-item"><a href="/volunteer/list" class="nav-link">봉사게시판</a></li>
                        <th:li th:if="${session.member != null}" class="nav-item" id="mypageItem">
                        	<a href="/member/mypage" class="nav-link">마이페이지</a>
                        </th:li>
                        <th:li th:if="${session.member == null}">
                            <li class="login-item"><a href="/member/login" class="nav-link">로그인</a></li>
                        </th:li>
                        <th:li th:if="${session.member != null}">
                            <li class="logout-item"><a href="/member/logout" class="nav-link">로그아웃</a></li>
                        </th:li>

                        <th:block th:if="${session.member != null}">
                            <li class="nav-item profile-container align-items-center">
                                <a href="#" class="nav-link d-flex align-items-center">
                                    <div id="briefProfile" class="profile-text me-3" th:text="${session.member.nickname + '님'}"></div>

                                    <!-- naver 로그인 시 나오는 프로필 -->
                                    <th:block th:if="${session.member.sns.sns_name == 'naver'}">
                                        <img th:src="${session.member.profile_image_url}" id="headerImg" alt="Profile Image" class="rounded-circle mx-auto img-fluid"/>
                                    </th:block>

                                    <!-- 카카오 로그인 시 나오는 프로필 -->
                                    <th:block th:if="${session.member.sns.sns_name == 'kakao'}" >
                                        <img th:src="${session.member.profile_image_url}" id="headerImg" class="rounded-circle mx-auto img-fluid"  alt="프로필 이미지">
                                    </th:block>
                                </a>
                            </li>
                        </th:block>
                    </ul>


                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <hr class="m-0">
    </div>
    <script>
    </script>
</th:block>