<!DOCTYPE html>
<html lang="en">

<head>
<!-- page_title -->
<th:block th:replace="~{fragments/page_title :: page_title}" />
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- 헤더 링크 -->
<th:block th:replace="~{fragments/header_link :: header_link}" />
</head>

<body>
	<!-- Header Section Begin -->
	<th:block th:replace="~{fragments/header :: header}" />
	<!-- Header End -->
	<div class="container">
		<form id="form1" class="form-horizontal" method="post"
			th:action="@{/volunteer/apply}">
			<!-- 제목 입력란 -->
			<div class="form-group row">
				<label for="title" class="col-sm-12 col-form-label">제목</label>
				<div class="col-sm-12">
					<input type="text" class="form-control" id="title" name="title"
						th:value="${detail.title}" placeholder="제목을 입력해 주세요." readonly>
				</div>
			</div>

			<!-- 날짜 및 시간, 모집 인원, 보호소 -->
			<div class="form-group row">
				<div class="col-4">
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">날짜
							및 시간</label>
						<div class="col-sm-12">
							<input type="date" class="form-control" id="volDate"
								name="volDate" th:value="${detail.vol_date}" readonly>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-6" style="padding: 0;">
							<label for="participants" class="col-sm-12 col-form-label">모집인원</label>
							<div class="col-sm-12">
								<input type="number" class="form-control" id="recruitCount"
									name="recruitCount" th:value="${detail.recruit_count}"
									placeholder="모집 인원을 입력해 주세요." readonly>
							</div>
						</div>
						<div class="col-6" style="padding: 0;">
							<label for="participants" class="col-sm-12 col-form-label">신청인원</label>
							<div class="col-sm-12">
								<input type="number" class="form-control" id="registCount"
									name="registCount" th:value="${registCount}"
									placeholder="신청 인원 수 입니다." readonly>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="location" class="col-sm-12 col-form-label">보호소</label>
						<div class="col-sm-12">
							<a th:if="${shelter_idx != null}"
								th:href="@{'/shelter/detail?id=' + ${shelter_idx}}"
								class="form-control" readonly> <span
								th:text="${detail.shelter_name}"></span>
							</a> <a th:unless="${shelter_idx != null}"
								th:href="@{'https://search.naver.com/search.naver?query=' + ${detail.shelter_name}}"
								target="_blank" class="form-control" readonly> <span
								th:text="${detail.shelter_name}"></span>
							</a>

						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="form-group row">
						<label for="details" class="col-sm-12 col-form-label">세부
							내용 작성란</label>
						<div class="col-sm-12">
							<textarea class="form-control" id="bodyText" name="bodyText"
								rows="10" th:text="${detail.body_text}"
								placeholder="세부 내용을 작성해 주세요." readonly></textarea>
						</div>
					</div>
				</div>
			</div>

			<!-- 신청자 리스트 -->
			<div class="form-group row">
				<div class="col-sm-12">
					<button class="btn btn-info" type="button" data-toggle="collapse"
						data-target="#toggleList" aria-expanded="false"
						aria-controls="toggleList">봉사 신청 인원 목록</button>
					<div class="collapse mt-2" id="toggleList">
						<ul class="list-group">
							<th:block th:if="${#lists.isEmpty(applicantNicAndImg)}">
								<li class="list-group-item">봉사 신청 인원이 없습니다.</li>
							</th:block>
							<li th:each="member, i : ${applicantNicAndImg}"
								class="list-group-item"><img
								class="rounded-circle mx-auto img-fluid" alt="profile_image"
								th:src="${member.profile_image_url}"
								style="object-fit: cover; width: 30px; height: 30px;"> <span
								th:text="${member.nickname}"></span></li>
						</ul>
					</div>
				</div>
			</div>

			<input type="hidden" id="recordNum" name="recordNum"
				th:value="${recordNum}" readonly>
			<!-- noticeId, id를 둘다 쓰지 않으면 db값이 url에 계속 담김 -->
			<input type="hidden" name="noticeId"
				th:value="${detail.vol_event_post_idx}">
			<button type="button" id="applyBtn"
				class="btn btn-secondary col-12 mb-3">봉사 신청</button>
			<button type="button" class="btn btn-secondary col-12" id="bt_list">목록으로
				돌아가기</button>
		</form>
	</div>
</body>

</html>

<script type="text/javascript">
	$(document).ready(
			function() {
				function list() {
					$("#form1").attr({
						action : "/volunteer/list",
						method : "get"
					});
					$("#form1").submit();
				}

				$("#bt_list").click(function() {
					list();
				});

				function getQueryStringParameter(name) {
					const urlParams = new URLSearchParams(
							window.location.search);
					return urlParams.get(name);
				}

				function applyApplication() {
					const noticeId = getQueryStringParameter('id');
					console.log("applyApplication noticeId:", noticeId); // 콘솔에 noticeId 값을 출력하여 확인

					if (!noticeId) {
						alert("봉사활동 ID를 찾을 수 없습니다.");
						return;
					}

					$.ajax({
						type : "POST",
						url : "/volunteer/apply",
						data : {
							id : noticeId
						},
						success : function(response) {
							alert("신청 완료!");
							location.reload(); // 페이지 새로고침 추가
						},
						error : function(xhr) {
							alert(xhr.responseText);
						}
					});
				}

				function cancelApplication() {
					const noticeId = getQueryStringParameter('id');
					console.log("cancelApplication noticeId:", noticeId); // 콘솔에 noticeId 값을 출력하여 확인

					if (!noticeId) {
						alert("봉사활동 ID를 찾을 수 없습니다.");
						return;
					}

					$.ajax({
						type : "POST",
						url : "/volunteer/cancel",
						data : {
							notice_id : noticeId
						},
						success : function(response) {
							alert("신청 취소 완료!");
							location.reload(); // 페이지 새로고침 추가
						},
						error : function(xhr) {
							alert(xhr.responseText);
						}
					});
				}

				// 페이지 로드 시 로컬 스토리지의 상태에 따라 버튼 설정
				$(document).ready(
						function() {
							const noticeId = getQueryStringParameter('id');
							const recordNum = $('#recordNum').val();
							const applyBtn = $('#applyBtn');

							if (recordNum >= 1) {
								console.log("신청취소버튼 생성");
								$("#applyBtn").text("신청 취소").removeClass(
										"btn-secondary").addClass("btn-danger")
										.off("click").click(cancelApplication);
							} else {
								console.log("봉사신청버튼 생성");
								$("#applyBtn").text("봉사 신청").removeClass(
										"btn-danger").addClass("btn-secondary")
										.off("click").click(applyApplication);
							}
						});
			});
</script>
