<!DOCTYPE html>
<html>

<head>
	<!-- page_title -->
	<th:block th:replace="~{fragments/page_title :: page_title}" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<meta charset="UTF-8">
</head>
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<!-- 헤더링크 -->
<th:block th:replace="~{fragments/header_link :: header_link}" />

<body>
	<!-- Header Section Begin -->
	<th:block th:replace="~{fragments/header :: header}" />
	<!-- Header End -->
	<div class="container">
		<form id="form1" class="form-horizontal">
			<h2>보호소 정보</h2>
			<!-- 보호소 관심 버튼 -->
			<div class="form-group row">
				<div class="col-sm-12 text-end">
					<th:block th:if="${session.member != null}"
						th:with="member_idx=${session.member.member_idx}">
						<button type="button" class="btn btn-link" id="interest-button"
							th:data-shelter-idx="${detail.shelter_idx}"
							th:data-member-idx="${member_idx}"
							th:data-orgNm="${detail.orgNm}" th:data-careNm="${detail.careNm}">
							<i class="far fa-heart fa-2x"></i>
						</button>
					</th:block>
				</div>
			</div>
			<!-- 보호소 정보 -->
			<input type="hidden" th:value="${detail.lat}" id="shelterLat">
			<input type="hidden" th:value="${detail.lng}" id="shelterLng">
			<div class="form-group row">
				<div class="col-6">
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">동물보호센터명</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.careNm}" id="shelterNm" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">동물보호센터유형</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.divisionNm}" id="shelterDivisionNm" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">동물보호센터지정일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.dsignationDate}" id="shelterDsignationDate"
								readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">평일운영시작시각</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.weekOprStime}" id="shelterWeekOprStime"
								readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">전화번호</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.careTel}" id="shelterCareTel" readonly>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">관리기관명</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.orgNm}" id="shelterOrgNm" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">소재지도로명주소</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.careAddr}" id="shelterCareAddr" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">휴무일</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.closeDay}" id="shelterCloseDay" readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">평일운영종료시각</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.weekOprEtime}" id="shelterWeekOprEtime"
								readonly>
						</div>
					</div>
					<div class="form-group row">
						<label for="date_time" class="col-sm-12 col-form-label">보호소
							정보 업데이트 날짜</label>
						<div class="col-sm-12">
							<input type="text" class="form-control"
								th:value="${detail.dataStdDt}" id="shelterDataStdDt" readonly>
						</div>
					</div>
				</div>
				<div class="col-12">
					<button type="button" id="bt_search_animal"
						class="btn btn-secondary col-12 mb-3">해당 보호소에 있는 동물 조회</button>
					<button type="button" id="bt_shelter_list"
						class="btn btn-secondary col-12";>목록으로 돌아가기</button>
				</div>
			</div>
			<div id="map" style="width: 100%; height: 700px;"></div>
			<br> <input type="hidden" id="recordNum" name="recordNum"
				th:value="${recordNum}" readonly>
		</form>
	</div>
	<!-- Footer Section Begin -->
	<th:block th:replace="~{fragments/footer :: footer}" />
	<!-- Footer End -->
</body>

</html>
<script th:inline="javascript">
    $(document).ready(function() {
        console.log("준비 완료");

        // 페이지 로드 시 초기 상태 설정
        var button = $('#interest-button');
        var shelterIdx = button.data('shelter-idx');
        var memberIdx = button.data('member-idx');

        var recordNum = $('#recordNum').val();
        if (recordNum >= 1) {
            updateInterestShelterButton(true);
        } else {
            updateInterestShelterButton(false);
        }
    });

    // 보호소 관심 등록 버튼 클릭 핸들러
    function registerInterestShelterButtonClick(button) {
        console.log("registerInterestShelterButtonClick called");
        var shelterIdx = button.getAttribute('data-shelter-idx');
        var memberIdx = button.getAttribute('data-member-idx');
        var orgNm = button.getAttribute('data-orgnm');
        var careNm = button.getAttribute('data-carenm');

        if (!shelterIdx || !memberIdx) {
            alert('올바른 보호소 또는 회원 정보가 필요합니다.');
            return;
        }

        // 버튼을 비활성화
        button.disabled = true;
        var confirmResult = confirm("관심 보호소로 등록할까요?");
        if (confirmResult) {
            registerInterestShelter(shelterIdx, memberIdx, orgNm, careNm, button);
        } else {
            button.disabled = false; // 취소를 누르면 버튼 다시 활성화
        }
    }

    // 보호소 관심 등록 요청 함수
    function registerInterestShelter(shelterIdx, memberIdx, orgNm, careNm, button) {
        console.log("registerInterestShelter called");
        $.ajax({
            type: 'POST',
            url: '/shelter/registerInterestShelter',
            data: {
                shelter_idx: shelterIdx,
                member_idx: memberIdx,
                orgNm: orgNm,
                careNm: careNm
            },
            success: function(response) {
                alert('관심 보호소 등록이 완료되었습니다.');
                location.reload(); // 페이지 새로고침 추가
            },
            error: function(error) {
                alert('관심 보호소 등록에 실패했습니다.');
            }
        });
    }

    // 보호소 관심 등록 취소 요청 함수
    function cancelInterestShelter(button) {
        console.log("cancelInterestShelter called");
        var shelterIdx = button.getAttribute('data-shelter-idx');
        var memberIdx = button.getAttribute('data-member-idx');

        if (!shelterIdx || !memberIdx) {
            alert('올바른 보호소 또는 회원 정보가 필요');
            return;
        }

        var confirmResult = confirm("관심 등록을 취소하시겠습니까?");
        if (confirmResult) {
            button.disabled = true; // 중복 클릭 방지
            $.ajax({
                type: 'POST',
                url: '/shelter/cancelInterestShelter',
                data: {
                    shelter_idx: shelterIdx,
                    member_idx: memberIdx
                },
                success: function(response) {
                    alert('관심 보호소 등록을 취소했습니다.');
                    location.reload(); // 페이지 새로고침 추가
                },
                error: function(error) {
                    alert('관심 보호소 등록 취소에 실패했습니다.');
                }
            });
        } else {}
    }

    // 버튼 상태 업데이트
    function updateInterestShelterButton(isRegistered) {
        var button = $('#interest-button');
        var icon = button.find('i');
        button.off("click"); // 기존 클릭 이벤트 제거

        if (isRegistered) {
            icon.removeClass('far').addClass('fas');
            button.attr('title', '관심 등록 취소')
                .one("click", function() {
                    cancelInterestShelter(this);
                });
        } else {
            icon.removeClass('fas').addClass('far');
            button.attr('title', '관심 보호소 등록')
                .one("click", function() {
                    registerInterestShelterButtonClick(this);
                });
        }
    }

    function initMap() {
        window.addEventListener('DOMContentLoaded', (event) => {
            const shelterLat = parseFloat(document.getElementById('shelterLat').value);
            const shelterLng = parseFloat(document.getElementById('shelterLng').value);
            const shelterNm = document.getElementById('shelterNm').value;
            const shelterCareAddr = document.getElementById('shelterCareAddr').value;
            const mapDiv = document.getElementById('map');
            const center = {
                lat: shelterLat,
                lng: shelterLng
            };
            const map = new google.maps.Map(mapDiv, {
                center: center,
                zoom: 15,
                draggable: false, // 지도 드래그 비활성화
                scrollwheel: false, // 스크롤 줌 비활성화
                disableDoubleClickZoom: true // 더블 클릭 줌 비활성화
            });

            if (shelterLat == 0 && shelterLng == 0) {
                // 유효한 값이 없는 경우 "위치정보가 없습니다" 메시지 표시
                const infoWindow = new google.maps.InfoWindow({
                    content: '위치정보가 없습니다',
                    position: center
                });
                infoWindow.open(map);
            } else {
                const marker = new google.maps.Marker({
                    position: center,
                    map: map,
                    title: 'Hello World!',
                    animation: google.maps.Animation.DROP
                });

                const infoWindow = new google.maps.InfoWindow({
                    content: '<div style="font-weight: bold;">' + shelterCareAddr + '</div>'
                });

                marker.addListener('click', function() {
                    infoWindow.open(map, marker);
                });
            }
        });
    }

    function list() {
        $("#form1").attr({
            action: "/volunteer/list",
            method: "get"
        });
        $("#form1").submit();
    }

    function shelter_list() {
        $("#form1").attr({
            action: "/shelter/list",
            method: "get"
        });
        $("#form1").submit();
    }

    $(function() {
        $("#bt_list").click(function() {
            list();
        });
        $("#bt_shelter_list").click(function() {
            shelter_list();
        });
    });
    //유기동물list 페이지로 redirect
    $(function() {
        $("#bt_search_animal").click(function() {
            let care = $("#shelterNm").val(); //관할기관
            care = care.replace(/\([^)]*\)/g, ''); //괄호와 내부 내용 제거
            location.href = "/animal/list?care=" + encodeURIComponent(care);
        });
    });
</script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8rEH-63KAr-Tl0v-dzo5BkS6BYvZoaD4&callback=initMap"></script>